@model IEnumerable<dynamic>

<div class="table-responsive shadow-sm rounded-3 p-3 bg-white">
    <table id="auditoriaTable" class="table table-hover">
        <thead>
            <tr>
                <th>Tabla Modificada</th>
                <th>ID Registro</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo de Acción</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                        <tr>
                            <td>@item.Auditoria.Ftabla</td>
                            <td>@item.Auditoria.FkidRegistro</td>
                            <td>@item.Auditoria.Ffecha.ToString("dd/MM/yyyy")</td>
                            <td>@item.Auditoria.Fhora</td>
                            <td>@item.Auditoria.Faccion</td>
                            <td>@item.NombreUsuario</td>
                        </tr>
            }
        </tbody>
    </table>
</div>