@model IEnumerable<Alquileres.Models.TbCxcCuotum>

<!-- Card de Resultados -->
<div class="card border-0 shadow-sm px-4 py-4">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table id="cuotaTable" class="table table-hover align-middle mb-0 table-responsive">
                <thead>
                    <tr>
                        <th>ID CxC</th>
                        <th>Número Cuota</th>
                        <th>Fecha Vencimiento</th>
                        <th>Monto</th>
                        <th>Saldo</th>
                        <th>Mora %</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FidCxc</td>
                            <td>@item.FNumeroCuota</td>
                            <td>@item.Fvence.ToString("dd/MM/yyyy")</td>
                            <td>@item.Fmonto.ToString("N2", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td>@item.Fsaldo.ToString("N2", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td>@item.Fmora %</td>
                            <td>@item.Fstatus</td>
                        </tr>
                    }
                    <!-- Cierre del bloque foreach -->
                </tbody>
            </table>
        </div>
    </div>
</div>